{% include 'header.html' %}
<center>
    <div class="card" style="width: 18rem;">
      {% if book_id.image %}
            <img src="{{ book_id.image.url }}" class="card-img-top" alt="...">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ book_id.title }}</h5>
        <p class="card-text">{{book_id.description}}.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{% if book_id.music %}
        {% if book_id.music.url %}
            <audio controls>
                <source src="{{ book_id.music.url }}" type="audio/mp3">
                Your browser does not support the audio tag.
            </audio>
        {% else %}
            <p>Error: The 'music' attribute has no file associated with it.</p>
        {% endif %}
    {% endif %}</li>
        <li class="list-group-item"><iframe src="{{ book_id.video }}" frameborder="0"></iframe></li>
        <li class="list-group-item"><p>{{book_id.genre}}</p></li>
        <li class="list-group-item"><p>{{book_id.time_books}}</p></li>
        <li class="list-group-item">{{book_id.author}}</p></li>
        <li class="list-group-item">{{book_id.rate}}</li>
      </ul>
    </div>

    <h2>Отзывы</h2>
    <table border="2">
        <tr>
            <td>Оценка</td> <td>Отзыв</td> <td>Дата</td>
        </tr>
        {% for i in book_id.review_book.all%}
        <tr>
            <td>{{ i.stars }}</td> <td>{{ i.description}}</td> <td>{{ i.created_at}}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <button><a href="/books/{{ book_id.id }}/delete/">Удалить</a></button>
    <button><a href="/books/{{ book_id.id }}/update/">Редактировать</a></button>
    <button><a href="/books/create_review/">Добавить комментарий</a></button>
</center>
{% include 'footer.html' %}